<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.odontflex.odontflex" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Bienvenido" >
        </activity>
        <activity
            android:name=".Menu_principal"
            android:label="Menu principal" >
        </activity>
        <activity
            android:name=".HistoriaClinicaPrincipal"
            android:label="Historia Clinica"
            android:windowSoftInputMode="adjustPan|adjustResize" >
        </activity>
        <activity
            android:name=".InfoGeneral"
            android:label="Informacion General" >
        </activity>
        <activity
            android:name=".Acercade"
            android:label="Informacion General" >
        </activity>
        <activity
            android:name=".CUPS"
            android:label="Informacion General" >
        </activity>
        <activity
            android:name=".ListaCUPS"
            android:label="Informacion General" >
        </activity>
        <activity
            android:name=".HistoriaClinicaInfoPersonal"
            android:label="Historia Clinica"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".HistoriaClinicaAnamnesis"
            android:label="Historia Clinica" >
        </activity>
        <activity
            android:name=".HistoriaClinicaAlergiasHabitos"
            android:label="Historia Clinica" >
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".HistoriaClinicaExamenEstoma"
            android:label="Historia Clinica" >
        </activity>
        <activity
            android:name=".HistoriaClinicaExamenPerioDent"
            android:label="Historia Clinica" >
        </activity>
        <activity
            android:name=".HistoriaClinicaOdontograma"
            android:label="Historia Clinica" >
        </activity>
        <activity
            android:name=".HistoriaClinicaObservaciones"
            android:label="Historia Clinica" >
        </activity>
        <activity
            android:name=".HistoriaPacienteExisteMenuPrincipal"
            android:label="Historia Clinica" >
        </activity>
        <activity
            android:name=".HistoriaPacienteExisteOdontogramaResumen"
            android:label="Historia Clinica" >
        </activity>
        <activity
            android:name=".HistoriaClinicaNotasEvo"
            android:label="Historia Clinica" >
        </activity>
        <activity
            android:name=".HistoriaPacienteExisteNotasEvoResumen"
            android:label="Historia Clinica" >
        </activity>
        <activity
            android:name=".Consultorio"
            android:label="@string/title_activity_consultorio" >
        </activity>
        <activity
            android:name=".Paciente"
            android:label="Consultorio" >
        </activity>
        <activity
            android:name=".Odontologo"
            android:label="Consultorio" >
        </activity>
        <activity
            android:name=".DetalleOdontologo"
            android:label="Consultorio" >
        </activity>
        <activity
            android:name=".PacienteInfoPersonal"
            android:label="Historia Clinica"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".InfoPersonalVer"
            android:label="Historia Clinica" >
        </activity>
        <activity
            android:name=".AnamnesisVer"
            android:label="Historia Clinica" >
        </activity>
        <activity
            android:name=".AnamnesisEditar"
            android:label="Historia Clinica" >
        </activity>
        <activity
            android:name=".AlergiasHabitosVer"
            android:label="Historia Clinica" >
        </activity>
        <activity
            android:name=".AlergiasHabitosEditar"
            android:label="Historia Clinica"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".EstomatologicoVer"
            android:label="@string/title_activity_estomatologico_ver" >
        </activity>
        <activity
            android:name=".EstomatologicoEditar"
            android:label="@string/title_activity_estomatologico_editar" >
        </activity>
    </application>

</manifest>
