<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.odontflex.odontflex" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="Bienvenido" >
        </activity>
        <activity
            android:name=".Menu_principal"
            android:label="Menu principal" >
        </activity>
        <activity
            android:name=".HistoriaClinicaPrincipal"
            android:label="Historia Clinica"
            android:windowSoftInputMode="adjustPan|adjustResize" >
        </activity>
        <activity
            android:name=".InfoGeneral"
            android:label="Informacion General" >
        </activity>
        <activity
            android:name=".Acercade"
            android:label="Informacion General" >
        </activity>
        <activity
            android:name=".CUPS"
            android:label="Informacion General" >
        </activity>
        <activity
            android:name=".ListaCUPS"
            android:label="Informacion General" >
        </activity>
        <activity
            android:name=".HistoriaClinicaInfoPersonal"
            android:label="@string/title_activity_historia_clinica_info_personal" >
        </activity>
        <activity
            android:name=".HistoriaClinicaAnamnesis"
            android:label="@string/title_activity_historia_clinica_anamnesis" >
        </activity>
        <activity
            android:name=".HistoriaClinicaAlergiasHabitos"
            android:label="@string/title_activity_historia_clinica_alergias_habitos" >
        </activity>
        <activity
            android:name=".HistoriaClinicaExamenEstoma"
            android:label="@string/title_activity_historia_clinica_examen_estoma" >
        </activity>
        <activity
            android:name=".HistoriaClinicaExamenPerioDent"
            android:label="@string/title_activity_historia_clinica_examen_perio_dent" >
        </activity>
        <activity
            android:name=".HistoriaClinicaOdontograma"
            android:label="@string/title_activity_historia_clinica_odontograma" >
        </activity>
        <activity
            android:name=".HistoriaClinicaObservaciones"
            android:label="@string/title_activity_historia_clinica_observaciones" >
        </activity>
    </application>

</manifest>
